{{{navbar}}}

<h1>All recipes stored</h1>

<div class="recipes-container">
  {{#each recipe}}
  <div class="all-recipes">
    <div class="each-recipe end">
     <h2>Title :</h2> 
        <a href="/recipe/{{this._id}}">{{this.title}} </a> 
    </div> 
    
    <p>
        <a href="/recipeEdit?recipe_id={{this._id}}" class="edit-button">EDIT</a>
    </p>
    
    <div class="button">
      <a href="/recipeDelete/{{this._id}}" class="delete-button">DELETE</a>
    </div>
        
   
  </div>
  {{/each}}
</div>